<!-- Header -->
<div class="text-center brand-block">
  <img src="images/video.png" class="brand-logo" alt="Video Searcher">
  <h2>
    <span class="label label-success">
      Video Searcher <i class="glyphicon glyphicon-facetime-video"></i>
    </span>
  </h2>
</div>

<!-- Search -->
<div class="input-group search-box">
  <span class="input-group-addon" id="basic-addon1">
    <i class="glyphicon glyphicon-pencil"></i>
  </span>
  <input
    type="search"
    class="form-control"
    ng-focus="list=true"
    ng-blur="list=false"
    ng-model="search"
    ng-model-options="{ debounce: 400 }"
    placeholder="Enter keywords for your video search"
    aria-describedby="basic-addon1"
    autocomplete="off"
  >
</div>

<div class="list-group recent-words" ng-show="list && words.length">
  <a
    href=""
    class="list-group-item"
    ng-repeat="word in words | limitTo: 6"
    ng-mousedown="useWord(word)"
  >{{word}}</a>
</div>

<p class="text-danger" ng-if="error">{{error}}</p>
<p class="text-muted" ng-if="loading">Searching…</p>

<section class="bg-light-gray">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3><span class="label label-warning">{{Title}}</span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 video-card" ng-repeat="video in videos">
      <span class="label label-default">{{::video.author}}</span>
      <p class="text-muted video-attr">{{::video.title}}</p>
      <p class="text-muted video-attr">Duration: {{::video.duration}}</p>
      <p class="text-muted video-attr">Uploaded: {{::video.published | date:'mediumDate'}}</p>
      <p class="text-muted video-attr">{{::video.noviews}} views</p>
      <a href="" ng-click="openInNewTab(video.url)">
        <img
          ng-src="{{::video.thumbnail}}"
          alt="{{::video.title}}"
          class="img-responsive img-centered"
        >
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>
        <span class="label label-success">{{videos.length}} videos found</span>
      </h3>
    </div>
  </div>
</section>
