
<!-- Header -->
<center>
  <div>
    <img src="images/video.png" style="width:210px" alt="">
  </div>
  <h2>
    <span class="label label-success">Video Searcher  <i class="glyphicon glyphicon-facetime-video"></i>
    </span>
  </h2>
</center>

<!-- Searcher input -->
<br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
  <input type="text" class="form-control" ng-model="search" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 200, 'blur': 0} }" placeholder="Enter Keywords for your video search" aria-describedby="basic-addon1">
</div>


  <section  class="bg-light-gray">

    <!-- Videos Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
          <h3><span class="label label-warning">{{Title}}</span></h3>
      </div>
    </div>

    <!-- Video Gallery Section -->
    <div class="row">
      <div class="col-md-4 col-sm-6" ng-repeat="video in videos"><br>

        <span class="label label-default">{{::video.author}}</span>
        <p class="text-muted video-attr" style="font-size:10px">Duration: {{::video.duration}} seconds</p>
        <p class="text-muted video-attr" style="font-size:10px">Uploaded: {{::video.published}}</p>
        <p class="text-muted video-attr" style="font-size:10px">{{::video.noviews}} views</p>
        <a href="#/">
          <img src="{{::video.thumbnail}}" ng-click="openInNewTab(video.url)" class="img-responsive img-centered">
        </a>
            <br>
      </div>
    </div>
    
    <!-- Number of Videos -->
    <div clas="row">
      <div class="col-md-12">
        <h3> <span class="label label-success">{{videos.length}} videos found</span></h3>
      </div>
    </div>

  </section>

  <!-- Footer Section -->
    <footer>
        <div class="container"></div>
    </footer>